name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Create local.properties
        run: |
          echo "sdk.dir=$ANDROID_SDK_ROOT" > Android/local.properties

      - name: Set custom applicationId
        run: |
          sed -i 's/com.example.samplestickerapp/com.fa1ya2.whatsappstickers/g' Android/app/build.gradle

      - name: Grant execute permission
        run: chmod +x ./Android/gradlew

      - name: Build APK
        working-directory: Android
        run: ./gradlew assembleDebug --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: WhatsApp-Sticker-APK
          path: Android/app/build/outputs/apk/debug/*.apk
